.container {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .center-container {
    flex-grow: 1;
  }

  .footer-container {
    background-color: darkgray;
  }
}
