.loader-overlay {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.3;
}
