.header-container {
  display: flex;
  align-items: center;

  button.menu-button {
    border: 1px solid lightgray;

    .menu-button-icon {
      margin: 0;
    }
  }

  h1 {
    margin: 0 40px;
  }
}
